<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle
    Name="Streamlink VLC Studio"
    Manufacturer="Streamlink VLC Studio"
    Version="$(var.BundleVersion)"
    UpgradeCode="B1A4CC92-5E23-4F5E-9D67-1A4EE6F57C18"
    IconSourceFile="$(var.AppIcon)"
    AboutUrl="https://github.com/CorontoSiete/streamlink-vlc-studio"
    Compressed="yes"
    DisableModify="no"
    bal:CommandLineVariables="caseInsensitive"
    Condition="VersionNT64 &gt;= v10.0">
    <Variable
      Name="StreamlinkDependencyVersion"
      Type="string"
      Value="$(var.StreamlinkMinimumVersion)" />
    <Variable
      Name="VlcDependencyVersion"
      Type="string"
      Value="$(var.VlcVersion)" />
    <Variable
      Name="InstalledApplicationPath"
      Type="formatted"
      Value="[ProgramFiles64Folder]Streamlink VLC Studio\StreamlinkVlcStudio.exe" />
    <Variable
      Name="StreamlinkMachineExecutable"
      Type="formatted"
      Value="[ProgramFiles64Folder]Streamlink\bin\streamlink.exe" />
    <Variable
      Name="StreamlinkMachineVersion"
      Type="version"
      Value="0.0.0.0" />
    <Variable
      Name="PurgeUserData"
      Type="numeric"
      Value="0"
      bal:Overridable="yes" />

    <BootstrapperApplication
      SourceFile="$(var.BootstrapperApplicationDir)\StreamlinkVlcStudio.Bootstrapper.exe">
      <PayloadGroupRef Id="ManagedBootstrapperApplicationPayloads" />
    </BootstrapperApplication>

    <util:ProductSearch
      Id="VlcRelatedProductSearch"
      Variable="VlcRelatedVersion"
      UpgradeCode="D2E0205B-0D3A-46E2-ADF7-0504FF48CF04"
      Result="version" />

    <Chain>
      <ExePackage
        Id="Streamlink"
        DisplayName="Streamlink (x64)"
        SourceFile="$(var.StreamlinkInstaller)"
        InstallArguments="/AllUsers /S"
        PerMachine="yes"
        Permanent="yes"
        DetectCondition="StreamlinkMachineVersion &gt;= v$(var.StreamlinkMinimumVersion)" />
      <MsiPackage
        Id="Vlc"
        DisplayName="VLC media player (64-bit)"
        SourceFile="$(var.VlcMsi)"
        ForcePerMachine="yes"
        InstallCondition="VlcRelatedVersion &lt; v$(var.VlcVersion)"
        Permanent="yes" />
      <MsiPackage
        Id="StreamlinkVlcStudio"
        DisplayName="Streamlink VLC Studio"
        SourceFile="$(var.AppMsi)"
        ForcePerMachine="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[ProgramFiles64Folder]Streamlink VLC Studio" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
